__pycache__
/data/
/renderer/data/
log/
runs/
weights/
vendor/ATVGnet/model/
audiodvp_utils/face_detection/detection/sfd/s3fd.pth
facegcn_test.ipynb
wav2lip.pth
wav2delta_pretrained.pth
lipsync_expert.pth
._audio
deepspeech-0.9.3-models.pbmm
deepspeech-0.9.3-models.scorer
output_graph.pb
test_image_*.png
tts_features2.dat
phoneme_mesh_model_middle.pt
phoneme_mesh_model_segment.pt
audiodvp_utils/roi_test
*.pth